<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar Persona</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombres:</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.name" name="nombre">
                </div>
                <div class="form-group">
                    <label for="">Telefono:</label>
                    <input type="text" class="form-control" [(ngModel)]="persona.telefono" name="telefono">
                </div>
                <br>
                <button (click)="guardar(persona)" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>